[Unit]
Description=Device Communication Initializer

[Service]
ExecStart=/usr/bin/wifi-manager-service
Restart=always

[Install]
WantedBy=multi-user.target
